{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
{{ parent() }}

<div class="container py-3">
    <div class="row gx-5 gy-3 my-3 justify-content-center">
        <div class="col-12 col-md-6 order-2 order-md-1 p-5 d-flex align-items-center">
            <div>
                <h1>Welcome to TraxX</h1>
                <h4>Track and visualise your trades to enrich the performance of your strategies.</h1>
                <a href="{{ path('app_register')}}" class="btn btn-success my-3">Sign up</a>
            </div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2" style="min-height: 25vh;">
                        {# <img class="w-100" src="{{ asset('build/images/467.png') }}" alt="ACME logo"> #}
                        {# <img class="w-100" src="{{ asset('build/images/478.png') }}" alt="ACME logo"> #}
                        {# <img class="w-100" src="{{ asset('build/images/479.png') }}" alt="ACME logo"> #}
                           <div class="h-100">
                    <div class="" id="#homepage-pie-chart"></div>
                </div>
        </div>
        <div class="col-12 col-md-12 order-3" style="min-height: 25vh;">
                        {# <img class="w-100" src="{{ asset('build/images/467.png') }}" alt="ACME logo"> #}
                        {# <img class="w-100" src="{{ asset('build/images/478.png') }}" alt="ACME logo"> #}
                        {# <img class="w-100" src="{{ asset('build/images/479.png') }}" alt="ACME logo"> #}
                           <div class="h-100">
                    <div class="" id="#homepage-chart"></div>
                </div>
        </div>
                                

        {# <div class="col-6 bg-danger">
        a
        </div> #}
    </div>
</div>
{% include 'footer.html.twig' %}

{% endblock %}
