{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{{ parent() }}

<div class="container py-3">
    <div class="row gx-3 gy-3 justify-content-center">
        <div class="col-12 col-md-8">
            <div class="p-4 card bg-light text-dark border-0 h-20" >
                <h3 class="card-title pb-3">Register</h3>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>

        </div>
    {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>
</div>
{% endblock %}

    