{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
{{ parent() }}


<div class="container py-3">
    <div class="row gx-3 gy-3 my-3 align-items-center">
        <div class="col">
            <h1>Leaderboards</h1>               

        </div>
    </div>

    <div class="row gx-3 gy-3">
        <div class="col-12 col-md-12">
            <div class="p-4 card bg-light text-dark border-0 h-20 table-card">
                <div>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            {% for key, data in topTrades %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{loop.index}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{loop.index}}">
                                        {{ key }}
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapse{{loop.index}}" class="accordion-collapse collapse {{loop.index == 1 ? 'show': ''}}" aria-labelledby="panelsStayOpen-heading{{loop.index}}">
                                    <div class="accordion-body">
                                        <table class="w-100 table">
                                            <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Top Trade</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for username, topTrade in data %}

                                                    <tr class="align-middle">
                                                        <td class="">{{ username }}</td>
                                                        <td class="">{{ topTrade }} %</td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="7"><p class="my-4">No trades found.</p></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <tr>
                                <td colspan="7"><p class="my-4">No trades found.</p></td>
                            </tr>
                            {% endfor %}
                     
                         </div>                 
                </div>
            </div>
        </div>
    </div>
</div>

    {# <a class="btn btn-primary" href="/index">{{ app.user ? 'logout' : 'login' }}</a> #}





</div>



{% endblock %}